.git
.idea
.vscode
.DS_Store
*.iml
android/.gradle
android/app/build
android/build
ios/Pods
ios/Podfile.lock
ios/Podfile
*.log
build/
.build
.dart_tool/
.packages
packages
.pub/
flutter_*.yaml
node_modules/
*.lock
*.iml
*.swp
*.bak
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies