.git
.idea
.vscode
.DS_Store
*.iml
android/.gradle
android/app/build
android/build
ios/Pods
ios/Podfile.lock
ios/Podfile
*.log
build/
.dart_tool/
.packages
.pub/
flutter_*.yaml
build/
node_modules/
*.lock
*.iml
*.swp
*.bak