# Laravel
vendor/
node_modules/
public/hot/
public/storage/
storage/*.key
.env
.env.local
.env.*.local
laravel-ide-helper.php
.phpunit.result.cache
Homestead.yaml
Homestead.json
public/build/
public/mix-manifest.json
public/css/*.css.map
public/js/*.js.map

# Dart/Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Podfile.lock
android/.gradle/
android/app/build/
android/app/intermediates/
android/local.properties
android/.idea/
*.iml

# General
*.log
*.DS_Store
*.swp
*.tmp
*.temp
*.bak
*.orig
*.class
*.jar
*.war
*.zip
*.tar
*.gz
*.tgz
*.7z
*.pdb
*.obj
*.exe
*.dll
*.o
*.out
*.app
*.apk
*.ipa

# System Files
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# Editor Specific
# Visual Studio Code
.vscode/
*.code-workspace

# JetBrains IDEs (IntelliJ, PhpStorm, WebStorm, etc.)
.idea/
*.iml
out/
*.ipr
*.iws
*.hprof

# Sublime Text
*.sublime-project
*.sublime-workspace

# Atom
.atom/

# Eclipse
.metadata/
bin/
gen/
target/
.classpath
.project

# NetBeans
nbproject/private/
nbbuild/
dist/
.nb-gradle/

# General Config Files
*.user
*.suo
*.userprefs
*.dbmdl
*.dbproj
*.pdb
*.cache
*.lock