node_modules
vendor
storage/logs
storage/framework/cache/data
storage/framework/sessions
storage/framework/views
.env
.env.*
*.env
logs/
tests/
phpunit.xml
.vscode/
.DS_Store
*.log
.idea
*.sql
*.sqlite